.wrapper{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}
.form-check{
    display: flex;
    gap: 10px;
    align-items: center;
}
.form-check-input{
    width: 80px!important;
    height: 40px;
}
.form-check-label{
    font-size: 24px;
}
